<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso Vue-Vuex</title>
</head>
<body>
  <div id="app">
    <button @click="changeVisibility">Mostrar/Ocultar</button>
    <ul v-if="mostrar">
      <li v-for="(show, index) in tvshows" :key="index">
        <strong>{{ show.name }}</strong> ({{ show.seasons }} Temporadas)
      </li>
    </ul>
    <div v-else>
      No hay datos
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        mostrar: false,
        tvshows: [
          { name: 'Game of Thrones', seasons: 7 },
          { name: 'Breaking Bad', seasons: 5 },
          { name: 'LOST', seasons: 6 },
          { name: 'Battlestar Galactica', seasons: 4 }
        ]
      },
      methods: {
        changeVisibility: function () {
          this.mostrar = !this.mostrar
        }
      }
    })
  </script>
</body>
</html>